<?xml version="1.0" encoding="UTF-8" ?>
  <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id          = "com.rpower.mobile"
    versionCode = "40"
    version     = "4.0.0" >

    <name>RPOWER Dealer App</name>

    <description>
        App for dealers
    </description>

    <author href="http://www.rpower.com" email="support@rpower.com">
        K3 Software
    </author>

    <platform name="android">
    	<icon density="ldpi" src="res/icons/android/drawable-ldpi-icon.png" />
    	<icon density="mdpi" src="res/icons/android/drawable-mdpi-icon.png" />
    	<icon density="hdpi" src="res/icons/android/drawable-hdpi-icon.png" />
    	<icon density="xhdpi" src="res/icons/android/drawable-xhdpi-icon.png" />
    	<icon density="xxhdpi" src="res/icons/android/drawable-xxhdpi-icon.png" />
    	<icon density="xxxhdpi" src="res/icons/android/drawable-xxxhdpi-icon.png" />
    </platform>
    <platform name="ios">
    	<icon height="57" platform="ios" src="res/icons/ios/icon.png" width="57" />
    	<icon height="114" platform="ios" src="res/icons/ios/icon@2x.png" width="114" />
    	<icon height="40" platform="ios" src="res/icons/ios/icon-40.png" width="40" />
    	<icon height="80" platform="ios" src="res/icons/ios/icon-40@2x.png" width="80" />
    	<icon height="50" platform="ios" src="res/icons/ios/icon-50.png" width="50" />
    	<icon height="100" platform="ios" src="res/icons/ios/icon-50@2x.png" width="100" />
    	<icon height="60" platform="ios" src="res/icons/ios/icon-60.png" width="60" />
    	<icon height="120" platform="ios" src="res/icons/ios/icon-60@2x.png" width="120" />
    	<icon height="180" platform="ios" src="res/icons/ios/icon-60@3x.png" width="180" />
    	<icon height="72" platform="ios" src="res/icons/ios/icon-72.png" width="72" />
    	<icon height="144" platform="ios" src="res/icons/ios/icon-72@2x.png" width="144" />
    	<icon height="76" platform="ios" src="res/icons/ios/icon-76.png" width="76" />
    	<icon height="152" platform="ios" src="res/icons/ios/icon-76@2x.png" width="152" />
    	<icon height="29" platform="ios" src="res/icons/ios/icon-small.png" width="29" />
    	<icon height="58" platform="ios" src="res/icons/ios/icon-small@2x.png" width="58" />
    	<icon height="87" platform="ios" src="res/icons/ios/icon-small@3x.png" width="87" />
    </platform>

    <gap:config-file platform="ios" parent="CFBundleShortVersionString">
      <string>1.0.0</string>
    </gap:config-file>

    <gap:config-file platform="android" parent="/manifest">
       <application android:debuggable="false" />
    </gap:config-file>

    <plugin name="cordova-plugin-inappbrowser" spec="~1.7.1" />

    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" spec="1.2.2" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <platform name="android">
      <allow-intent href="market:*" />
    </platform>

    <platform name="ios">
      <allow-intent href="itms:*" />
      <allow-intent href="itms-apps:*" />
    </platform>
</widget>
